{% load i18n static admin_volt %}
{% load static admin_notification_tags %}

{% block extrastyle %}


    <link rel="stylesheet" type="text/css"
          href="{% static 'admin_notification/css/notifications.css' %}">

{% endblock %}

<nav class="navbar navbar-top navbar-expand navbar-dashboard navbar-dark ps-0 pe-2 pb-0">
    <div class="container-fluid px-0">
        <div class="d-flex justify-content-between w-100" id="navbarSupportedContent">
            <div class="d-flex align-items-center">
                <!-- Search form -->
{#                <form class="navbar-search form-inline" id="navbar-search-main">#}
{#                    <div class="input-group input-group-merge search-bar">#}
{#                          <span class="input-group-text" id="topbar-addon">#}
{#                            <svg class="icon icon-xs" x-description="Heroicon name: solid/search"#}
{#                                 xmlns="http://www.w3.org/2000/svg" viewBox="0 0 20 20" fill="currentColor"#}
{#                                 aria-hidden="true">#}
{#                              <path fill-rule="evenodd"#}
{#                                    d="M8 4a4 4 0 100 8 4 4 0 000-8zM2 8a6 6 0 1110.89 3.476l4.817 4.817a1 1 0 01-1.414 1.414l-4.816-4.816A6 6 0 012 8z"#}
{#                                    clip-rule="evenodd"></path>#}
{#                            </svg>#}
{#                          </span>#}
{#                        <input type="text" class="form-control" id="topbarInputIconLeft" placeholder="Search"#}
{#                               aria-label="Search" aria-describedby="topbar-addon">#}
{#                    </div>#}
{#                </form>#}
                <!-- / Search form -->
            </div>
            <!-- Navbar links -->
            <ul class="navbar-nav align-items-center">
                <li class="nav-item dropdown ms-lg-3">
                    <a class="nav-link dropdown-toggle pt-1 px-0" href="#" role="button" data-bs-toggle="dropdown"
                       aria-expanded="false">
                        <div class="media d-flex align-items-center">
                            <img class="avatar rounded-circle" alt="Image placeholder"
                                 src="{% static 'admin_volt/assets/img/team/profile-picture-7.jpeg' %}">
                            <div class="media-body ms-2 text-dark align-items-center d-none d-lg-block">
                                <span class="mb-0 font-small fw-bold text-gray-900">
                                    <strong>{{ request.user.username }}</strong>
                                </span>
                            </div>
                        </div>
                    </a>
                    <div class="dropdown-menu dashboard-dropdown dropdown-menu-end mt-2 py-1">
                        {% block nav-global %}{% endblock %}
                        {% block branding %}
                            {% get_admin_notification_item as item %}
                            <h1 id="site-name">
                                <a class="dropdown-item d-flex align-items-center" href="{% url 'check_notifications' %}">
                                    <div class="notification-box">
                                        <svg class="dropdown-icon text-gray-400 me-2" fill="currentColor" viewBox="0 0 20 20"
                                        xmlns="http://www.w3.org/2000/svg">
                                            <path fill-rule="evenodd"
                                             d="M5 3a2 2 0 00-2 2v10a2 2 0 002 2h10a2 2 0 002-2V5a2 2 0 00-2-2H5zm0 2h10v7h-2l-1 2H8l-1-2H5V5z"
                                             clip-rule="evenodd"></path>
                                        </svg>
                                        <span class="badge">{{ item.count }}</span>
                                    </div>
                                    Notifications
                                </a>
                             </h1>

                        {% endblock %}
                        <div role="separator" class="dropdown-divider my-1"></div>
                        <a class="dropdown-item d-flex align-items-center" href="{% url 'admin:logout' %}">
                            <svg class="dropdown-icon text-danger me-2" fill="none" stroke="currentColor"
                                 viewBox="0 0 24 24" xmlns="http://www.w3.org/2000/svg">
                                <path stroke-linecap="round" stroke-linejoin="round" stroke-width="2"
                                      d="M17 16l4-4m0 0l-4-4m4 4H7m6 4v1a3 3 0 01-3 3H6a3 3 0 01-3-3V7a3 3 0 013-3h4a3 3 0 013 3v1"></path>
                            </svg>
                            Logout
                        </a>
                    </div>
                </li>
            </ul>
        </div>
    </div>
</nav>